.menu-container{
    padding: 12px 8px 0px;
  }
  #dash{
    padding: 4px 8px;
    color: #f6f5f5; 
    font-family:Helvetica; 
    font-size: 22px;
    transition: all 0.3 ease
  }
  #dash:hover{
    background-color: #87A2FB;
    color: #3d3c3c;
    padding: 4px 24px;
  }